<circle-progress
  [percent]="properties.percent"
  [maxPercent]="properties.maxPercent"
  [radius]="properties.radius"
  [clockwise]="properties.clockwise"
  [startFromZero]="properties.startFromZero"
  [showTitle]="properties.showTitle"
  [showUnits]="properties.showUnits"
  [showSubtitle]="properties.showSubtitle"
  [title]="properties.title"
  [titleColor]="properties.titleColor"
  [titleFontSize]="properties.titleFontSize"
  [titleFontWeight]="properties.titleFontWeight"
  [class]="properties.class"
  [backgroundOpacity]="properties.backgroundOpacity"
  [outerStrokeColor]="properties.outerStrokeColor"
  [innerStrokeColor]="properties.innerStrokeColor"
></circle-progress>