<app-page>
  <ion-grid>
    <ion-row>
      <ion-col size-md="9" size="12" class="home-background-image">
        <div [style]="backgroundStyle"></div>
      </ion-col>
      <ion-col size-md="3" size="12" class="home-button-group">
        <ion-grid>
          <ion-row>
            <ion-col size-md="12" size="3">
              <ion-button href="/play/solo" size="small" expand="full" color="warning">Play Solo</ion-button>
            </ion-col>
            <ion-col size-md="12" size="3">
              <ion-button size="small" expand="full" color="warning" disabled>Play With Group</ion-button>
            </ion-col>
            <ion-col size-md="12" size="3">
              <ion-button size="small" expand="full" color="warning" disabled>Play Friends</ion-button>
            </ion-col>
            <ion-col size-md="12" size="3">
              <ion-button size="small" expand="full" color="warning" disabled>Play Random</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</app-page>